@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

html, body {
	margin: 0;
	padding: 0;
	background-color: #530;
	height: 100%;
	font-family: poppins, sans-serif;
	font-size: 15px;
	text-align: justify;
}

em {
	font-family: poppins, sans-serif;
	color: #666;
}
header {
	background-color: #fff;
	border-bottom: 1px black solid;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
	padding: 20px;
	position: relative;
	z-index: 1000;
}
header img { height: 50px; display: inline-block;}
nav {
	display: inline-block;
	position: relative;
	top: -2px;
	left: -20px;
}
nav ul {
	list-style-type: none;
	display: inline-block;
}			
nav li {
	display: inline-block;
	margin-left: 15px;
}

section.content {
	padding: 20px;
	margin-left: 8%;
	margin-right: 8%;
	background-color: #fff;
	min-height: 100%;
	padding: 4% 7%;
}

section.content img, section.content img {
	max-width: 90%;
}

section.footer {
	background-color: #fea;
	margin-left: 8%;
	margin-right: 8%;
	margin-top:2%;
	text-align: left;
	padding: 1% 4%;
	font-size: 13px;
	font-style: italic;
}

table td, table th {
	padding: 0.2em 1em;
}

span.invalid {
	color: #ccc;
	text-decoration: line-through;
}