<section class="footer">
	<p>
		Har du tips & ideer på hur hemsidan kan bli bättre?
		Hör gärna av dig till
		<a href="mailto:zacharias.enochsson@gmail.com">zacharias.enochsson@gmail.com</a>
	</p>
</section>