<header>
	<a href="./index.html" title="Hem">
		<img class="logo" src="./logo.png" alt="Brf Bronsyxan logo" />
	</a>
	<nav>{{> menu }}</nav>
	
	{{#ifnoteq title "Garage"}}
	<a href="./garage.html"><div style="text-align: center; color: #fff; background-color: #000;"><em style="color:#fff; font-weight:bold;">OBS!</em> Schemat för elarbete i garagen finner du <u>här</u></div></a>
	{{/ifnoteq}}
</header>
